/************************************************
 *   Popup 
 ************************************************* */
#backgroundPopup {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  border: 1px solid #919191;
  z-index: 1; }

#popupContent {
  display: none;
  position: fixed;
  height: 400px;
  width: 350px;
  background: #5ffaf1;
  border: 2px solid #919191;
  z-index: 2;
  padding: 12px; }

#popupContentClose {
  font-size: 18px;
  line-height: 14px;
  right: 6px;
  top: 4px;
  position: absolute;
  color: #c12040;
  font-weight: 700px;
  display: block;
  cursor: pointer; }
  #popupContentClose a:hover {
    background-color: #ff1515; }
